*.elc
*.sqlite
.backup/
.cache/
.cask/
.edbi-ds-history
.framesize
.local/
.lsp-session-v1
.mc-lists.el
.org-id-locations
.python-environments/
.lsp-eslint-choices
eln-cache/
emojis/
history
abbrev_defs
ac-comphist.dat
amx-items
anaconda-mode/
auto-save-list/
bin/
bookmarks
custom.el
el-get/
elpa/
elscreen
eshell/
games/
grammar
hackernews/
meghanada/
omnisharp-server/
persp-confs/
projectile-bookmarks.eld
projectile.cache
projects
quelpa/
recentf
request/
semanticdb/
site-lisp/my-proxy.el
straight/
tramp
transient/
undohist/
url/
var/
/.persistent-scratch
/tree-sitter/
