*.elc
*.sqlite
.backup/
.cache/
.cask/
.claude/
.edbi-ds-history
.framesize
.local/
.lsp-eslint-choices
.lsp-session-v1
.mc-lists.el
.org-id-locations
.persistent-scratch
.persistent-scratch-backup/
.python-environments/
abbrev_defs
ac-comphist.dat
amx-items
anaconda-mode/
auto-save-list/
bin/
bookmarks
custom.el
el-get/
eln-cache/
elpa/
elscreen
emojis/
eshell/
games/
grammar
hackernews/
history
meghanada/
omnisharp-server/
persist/
persp-confs/
places
projectile-bookmarks.eld
projectile.cache
projects
quelpa/
recentf
request/
semanticdb/
site-lisp/my-proxy.el
straight/
tramp
transient/
tree-sitter/
undo-fu-session/
undo/
undohist/
url/
var/
.emacs.desktop*
eglot-java-eclipse-jdt-cache/
share/

