.backup/
.cask/
.mc-lists.el
.org-id-locations
.python-environments/
.edbi-ds-history
abbrev_defs
ac-comphist.dat
anaconda-mode/
auto-save-list/
bookmarks
elpa/
elscreen
eshell/
grammar
omnisharp-server/
persp-confs/
projectile-bookmarks.eld
recentf
request/
semanticdb/
url/
meghanada/
tramp
quelpa/
